:root {
    --main-text-color: #021b44;
    --bg-higlight-color: #c4e6fa;
    --link-color: #ff0000;
    --white-color: #ffffff;
    --black-color: #021b44;
    --lightgray-color: #f9f9f9;
    --gray-color: #f0f0f0;
    --brand-color: #378bd8;
}
