
h2 {
    font-weight: 500;
  }

  #sub-footer ul.social-network {
      font-size: 2rem;
  }

  .pricing-content ul li {
    padding: 15px;
    color: #0e0e0e;
}

#featured .flexslider {
    margin: 110px 0 30px;
}

#featured .flexslider {
    padding: 0;
    margin: 110px 0 30px;
    background: #fff;
    position: relative;
    zoom: 1;
}

.flex-caption p {
  font-size: 18px !important;
}
