.top-nav-collapse, footer {
    background: #2e85d1;
}

body#risorse {
  font-size: 1.4em;
}

div#single-person {
  margin-top: 10px;
  min-height: 327 px;
}


div#single-valore .service-box {
  padding:1px;
}

.intro {
  background-size: cover;
  top:50px;
}

footer a {
	color:white;
}

.news-section {
  padding-top:80px;
  padding-bottom:50px;
}
