.feedEkList {
  width:100%;
  list-style:none outside none;
  /*background-color:transparent;*/
/*  border:1px solid #D3CAD7;*/
  padding:4px 6px;
  /*color:#3E3E3E;*/
}

.feedEkList li {
  /*border-bottom:1px solid #D3CAD7;*/
  padding:5px;
  margin-bottom: 3rem;
}

.feedEkList li:last-child {
  border-bottom:none;
}

.itemTitle a {
  font-weight:bold;
  color:#2e85d1 !important;
  text-decoration:none;
	font-size:2rem;
	line-height:3rem;
}

.itemTitle a:hover {
  text-decoration:underline;
}

.itemDate {
  font-size:2rem;
}
